<div  class="container">
    <h3>Add new cutomer</h3>
    <form role="form" ng-submit="update()">
        <div class="form-group">
            <label for="customerName">Name</label>
            <input type="text"  ng-model="customer.name" class="form-control" id="customerName" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="customerCity">City</label>
            <input type="text" ng-model="customer.city" class="form-control" id="customerCity" placeholder="City">
        </div>
        
         <div class="form-group">
            <label for="customerPhone">Phone</label>
            <input type="text" ng-model="customer.phone"  class="form-control" id="customerPhone" placeholder="Phone">
        </div>
        
        <div class="form-group">
            <label for="email" >Email</label>
            <input type="email" ng-model="customer.email" class="form-control" id ="email" placeholder="E-mail">
        </div>
       
        <button type="submit" class="btn btn-default">Submit</button>
        <button ng-click="cancel()" class="btn btn-default">Cancel</button>
    </form>


</div>